<nav class="navbar navbar-expand-md bg-white border-bottom sticky-top shadow-sm">
    <div class="container-fluid">

        <!-- Logo -->
        <a class="navbar-brand" href="/">
            <i class="fa-regular fa-compass"></i>
        </a>

        <!-- Mobile Toggle Button -->
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavAltMarkup"
            aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">

            <span class="navbar-toggler-icon"></span>
        </button>

        <!-- Navbar Content -->
        <div class="collapse navbar-collapse mobile-menu" id="navbarNavAltMarkup">

            <!-- Left Links -->
            <div class="navbar-nav">

                <a class="nav-link" href="/">Home</a>

                <a class="nav-link" href="/listings">
                    All Listings
                </a>

                <% if (currUser && currUser.role==="host" ) { %>
                    <a class="nav-link" href="/listings/new">
                        Add New Listing
                    </a>
                    <% } %>

                        <% if (currUser && currUser.role==="guest" ) { %>
                            <a class="nav-link" href="/my-bookings">
                                My Bookings 🧳
                            </a>
                            <% } %>

            </div>

            <!-- Right Links -->
            <div class="navbar-nav ms-auto">

                <% if (!currUser) { %>

                    <a class="nav-link" href="/signup">
                        Sign Up
                    </a>

                    <a class="nav-link" href="/login">
                        Log In
                    </a>

                    <% } else { %>

                        <a class="nav-link" href="/profile">
                            <img src="<%= currUser.avatar ? currUser.avatar.url : 'https://cdn-icons-png.flaticon.com/512/3135/3135715.png' %>"
                                class="rounded-circle me-1" style="width:28px; height:28px; object-fit:cover;" />
                            <strong>
                                <%= currUser.username %>
                            </strong>
                        </a>

                        <a class="nav-link" href="/logout">
                            Log Out
                        </a>

                        <% } %>

            </div>

        </div>

    </div>
</nav>